* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: black;
  color: white;
  text-align: center;
  /* overflow-y: hidden; */
}

/* navigation */
nav {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgb(8, 8, 8), black);
  padding: 1rem 0;
  gap: 2rem;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown input[type="checkbox"] {
  display: none;
}

nav label {
  color: rebeccapurple;
  cursor: pointer;
  padding: 1rem 2rem;
}

nav label:hover {
  text-decoration: underline;
}

nav ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 12rem;
  background-color: black;
  border: 1px solid #252525;
  list-style: none;
  flex-direction: column;
  z-index: 1000;
}

nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: rebeccapurple;
}

nav ul li a:hover {
  background: #eee;
}

.dropdown:hover ul,
.dropdown input:checked + label + ul {
  display: flex;
}

/* main content */
main {
  flex: 1; /* pushes footer to bottom */
  padding: 40px 20px;
  text-align: center;
}

/* footer */
footer {
  background-color: #333333;
  padding: 40px 20px;
  width: 100%;
  color: white;
  margin-top: 11rem; /* ensures it sticks to bottom */
}

.footer-container {
  max-width: 800px;
  margin: 0 auto;
}

.footer-container h2 {
  margin-bottom: 20px;
}

.footer-container input,
.footer-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: none;
}

.footer-container button {
  padding: 10px 20px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.footer-container button:hover {
  background-color: #0056b3;
}