
body{
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

.index{
    margin-left: -0.5rem;
    margin-top: 50vh;
    background-color: blue;
}